.page {
    display: grid;
    justify-content: center;
}

.loginSwitchButton {
    margin-bottom: 16px;

    text-align: start;

    background: var(--transparent);
    filter: brightness(50%);
    border: none;

    &:hover {
        filter: brightness(100%);
    }
}

.signupSwitchButton {
    margin-bottom: 16px;

    text-align: start;

    background: var(--transparent);
    filter: brightness(50%);
    border: none;

    &:hover {
        filter: brightness(100%);
    }
}