{
	"extends": [
		"stylelint-config-standard",
		"stylelint-config-clean-order"
	],
	"plugins": [
		"stylelint-gamut",
		"stylelint-high-performance-animation"
	],
	"defaultSeverity": "warning",
	"rules": {
		"block-no-empty": [
			true,
			{
				"ignore": [
					"comments"
				]
			}
		],
		"comment-empty-line-before": "always",
		"declaration-block-single-line-max-declarations": 1,
		"selector-not-notation": "complex",
		"selector-type-case": "lower",
		"declaration-property-value-no-unknown": [
			true,
			{
				"propertiesSyntax": {
					"color": "<oklch>",
					"background-color": "<oklch>"
				}
			}
		],
		"property-no-unknown": [
			true,
			{
				"ignoreProperties": [
					"font-smooth"
				]
			}
		],
		"function-disallowed-list": [
			"rgba",
			"hsla",
			"rgb",
			"hsl"
		],
		"color-function-notation": "modern",
		"gamut/color-no-out-gamut-range": true,
		"plugin/no-low-performance-animation-properties": true,
		"selector-class-pattern": null
	},
	"allowEmptyInput": true,
	"fix": true,
	"maxWarnings": true
}
