.header {
	display: grid;
	grid-template-columns: max-content 1fr max-content;
	grid-template-rows: var(--header-height);
	column-gap: 16px;
	align-items: center;

	padding: 16px;
}

.navlink {
	transition: filter 300ms ease-in-out;

	&:focus-visible {
		filter: invert(100%);
		border-radius: 4px;
		outline: var(--outline-color) ridge 2px;
		outline-offset: 2px;
	}

	&:hover {
		filter: invert(100%);
	}
}

@media screen and (prefers-reduced-motion: reduce) {
	.navlink {
		transition: none;
	}
}

.logo {
	width: var(--header-height);
	height: var(--header-height);
}

.iconsContainer {
	display: flex;
	gap: 16px;
}


.loginLink {
	scale: 1.25;
	width: var(--header-height);
	height: var(--header-height);
}
