.header {
	display: grid;
	grid-template-columns: max-content 1fr max-content;
	grid-template-rows: 56px;
	column-gap: 16px;
	align-items: center;

	padding: 16px;
}

.navlink {
	&::before {
		content: none;
	}

	&:focus-visible {
		border-radius: 4px;
		outline: var(--outline-color) ridge medium;
		outline-offset: 4px;
	}
}

.logo {
	width: 56px;
	height: 56px;

	&:hover,
	&:focus {
		filter: invert(100%);
	}
}

.iconsContainer {
	display: flex;
	gap: 8px;
}
