.wrapper {
    overflow: hidden auto;

    height: 100vh;
    padding-top: calc(var(--header-height) + 32px);
    padding-right: 16px;
    padding-left: 16px;

    perspective: 10px;

    scroll-timeline-name: --parallaxtimeline;
}

.parallaxContainer {
    position: relative;
    z-index: -1;
    transform-style: preserve-3d;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
}

.parallaxLayer {
    position: absolute;
    z-index: -1;

    object-fit: cover;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.sky {
    transform: translateZ(-10px) scale(2.2);
    width: 100%;
    height: 100%;
    background-image: var(--background-sky);
}

.skyBall {
    top: 50%;
    left: -30%;

    width: 200px;
    height: 200px;

    background-image: var(--background-sky-ball);

    animation-name: sky-ball;
    animation-fill-mode: backwards;
    animation-direction: alternate;

    animation-range-end: contain 70%;

    animation-timeline: --parallaxtimeline;
}

.peak {
    transform: translateZ(-5px) scale(1.8) translateY(5%);
    width: 100%;
    height: 100%;
    background-image: var(--background-peak);
}

.mountains {
    transform: translateZ(0) scale(1.3) translateY(35%) translateX(-2%);
    width: 100%;
    height: 100%;
    background-image: var(--background-mountains);
}

@keyframes sky-ball {
    0% {
        transform: translateZ(-10px) scale(2) translateY(-20%) translateX(0%);
    }

    25% {
        transform: translateZ(-10px) scale(3) translateY(-120%) translateX(250%);
    }

    50% {
        transform: translateZ(-10px) scale(3.5) translateY(-100%) translateX(300%);
    }

    100% {
        transform: translateZ(-10px) scale(2) translateY(0%) translateX(700%);
    }
  }

  @keyframes peak {
    0% {
        transform: translateZ(-10px) scale(2) translateY(-50%) translateX(-50%);
    }

    10% {
        transform: translateZ(-10px) scale(3) translateY(-100%) translateX(125%);
    }

    25% {
        transform: translateZ(-10px) scale(3.5) translateY(-160%) translateX(250%);
    }

    50% {
        transform: translateZ(-10px) scale(3.5) translateY(-180%) translateX(300%);
    }

    75% {
        transform: translateZ(-10px) scale(3) translateY(-200%) translateX(500%);
    }

    100% {
        transform: translateZ(-10px) scale(2) translateY(-200%) rotate(5.5turn) translateX(1000%);
    }
  }
