.switcher {
	position: relative;

	/* z-index: 1; */

	display: grid;
	grid-template-columns: repeat(3, 1fr);

	/* padding: 2px; */

	border: 1px solid red;
	border: none;

	& .legend {
		pointer-events: none;
		position: absolute;
		opacity: 0;
	}
}

@media screen and (prefers-reduced-motion: reduce) {
	.radio {
		transition: none;
	}
}

.radio {
	width: 56px;
	height: 56px;
	margin: 0;

	appearance: none;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 36px;
	filter: brightness(0.85) contrast(170%);

	transition: filter 200ms ease-in;
}

.radio:checked {
	filter: brightness(0.7) contrast(100%);
}

.radio:focus-visible {
	outline: none;
}

.light {
	background-image: url('../../shared/assets/sun.svg');
}

.dark {
	background-image: url('../../shared/assets/moon.svg');
}

.auto {
	background-image: url('../../shared/assets/settings.svg');
}

@media screen and (prefers-reduced-motion: reduce) {
	.status {
		transition: none;
	}
}

.status {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(0, 0);

	width: 56px;
	height: 56px;

	border: 2px solid var(--border-color);
	border-radius: 50%;
	box-shadow: 0 0 0 2px var(--surface-shadow);

	&:hover {
		border-color: var(--border-color-hover);
	}
}

.radio:focus-visible ~ .status {
	box-shadow: 0 0 0 2px black;
}

.light:checked ~ .status {
	background-position: left 2px center;
}

.auto:checked ~ .status {
	background-position: center center;
}

.dark:checked ~ .status {
	background-position: right 2px center;
}
