@media screen and (prefers-reduced-motion: reduce) {
	.switcher {
		transition: none;
	}
}

.switcher {
	overflow: hidden;

	width: 56px;
	height: 56px;
	margin: 0;

	border: 2px solid var(--border-color);
	border-radius: 50%;

	transition: filter 200ms ease-in-out;
}

.switcher:hover {
	filter: brightness(1.1);
}

.switcher:focus-visible {
	filter: brightness(1.1);
	border: none;
	outline: var(--outline-color) ridge 4px;
	outline-offset: -4px;
}

.legend {
	position: absolute;

	overflow: hidden;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	white-space: nowrap;

	clip-path: polygon(0% 0, 100% 0);
	border: 0;
}

.iconsContainer {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;
}

.icon {
	position: absolute;

	width: 56px;
	height: 56px;

	background-repeat: no-repeat;
	background-position: center;
	background-size: 36px;

	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.7s;
	transition-property: transform;
}

.light {
	transform: rotate(-45deg) translate(-100%, 0%) scale(0.5) rotate(360deg);
	background-image: url('../../shared/assets/sun.svg');
}

.dark {
	transform: rotate(45deg) translate(100%, 0%) scale(0.5) rotate(360deg);
	background-image: url('../../shared/assets/moon.svg');
}

.auto {
	transform: translate(0%, 100%) scale(0.5) rotate(360deg);
	background-image: url('../../shared/assets/settings.svg');
}

.active.auto {
	transform: translate(0) scale(1);
}

.active.light {
	transform: rotate(0deg) translate(0) scale(1);
}

.active.dark {
	transform: rotate(0deg) translate(0) scale(1);
}
