@media screen and (prefers-reduced-motion: reduce) {
	.switcher {
		transition: none;
	}
}

.switcher {
	--border-top-color: var(--border-color-1);
	--border-right-color: var(--border-color-2);
	--border-bottom-color: var(--border-color-3);
	--border-left-color: var(--border-color-4);

	overflow: hidden;

	width: 56px;
	height: 56px;
	margin: 0;

	border: 2px solid;
	border-color: var(--border-top-color) var(--border-right-color) var(--border-bottom-color) var(--border-left-color);
	border-radius: 50%;

	transition: filter 300ms ease-in-out;
	animation-name: button-rotate;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;

	&:hover {
		filter: hue-rotate(-90deg) brightness(0.85);
	}

	&:focus-visible {
		filter: brightness(0.85);
		border: none;
		outline: var(--outline-color) ridge 2px;
		outline-offset: -2px;
	}
}

@keyframes button-rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.switcherCaption {
	position: absolute;

	overflow: hidden;

	width: 1px;
	height: 1px;

	clip-path: polygon(0% 0, 100% 0);
	border: 0;
}

.iconsContainer {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;
}

.icon {
	position: absolute;

	width: 56px;
	height: 56px;

	background-repeat: no-repeat;
	background-position: center;
	background-size: 36px;

	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.7s;
	transition-property: transform;
}

.light {
	transform: rotate(-45deg) translate(-100%, 0%) scale(0.5) rotate(360deg);
	background-image: url('../../shared/assets/sun.svg');
}

.dark {
	transform: rotate(45deg) translate(100%, 0%) scale(0.5) rotate(360deg);
	background-image: url('../../shared/assets/moon.svg');
}

.auto {
	transform: translate(0%, 100%) scale(0.5) rotate(360deg);
	background-image: url('../../shared/assets/settings.svg');
}

.active {
	transform: scale(1);

	&.auto {
		transform: translate(0);
	}

	&.light {
		transform: rotate(0deg) translate(0);
	}

	&.dark {
		transform: rotate(0deg) translate(0);
	}
}
