.linkList {
	container-name: linklist;
	container-type: inline-size;
	display: flex;
	gap: 16px;
	justify-content: space-around;
}

@container linkList (width <= 300px) {
	li > a {
		font-size: 12px;
	}
}

@media screen and (width <= 600px) {
	.linkList {
		flex-direction: column;
		padding-bottom: 16px;
		text-align: end;

	}

	.linkList.active {
		left: 0;
	}
}